@media screen and (max-width: 700px){
    .skill__one{
        background: rgb(39, 39, 39);
        width: 450px;
        box-shadow: var(--neon-box-shadow);
        height: 100%;
        border-radius: 20px;
        padding: 25px;
       }

           
   .input__search{
    width: 350px;
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: var(--bg-color);
    box-shadow: var(--neon-box-shadow);
    outline: none;
    padding-left: 20px;
    color: #fff;
    margin-bottom: 20px;
   }
}